.app-header {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px;
}
.left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.home-icons {
    margin-top: 25px;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 10px;
}

.currency, .toggleDarkMode {
    display: flex;
    align-items: center;
}

.app-logo {
    /* background-color: #fdf5e6; */
    position: relative;
    width: 133px;
}

.logo-icon img {
    transform: rotate(180deg);
    width: 55px;
    height: 53px;
    position: absolute;
    /* top: 90px; */
    left: 5px;
}

.logo-text {
    width: 204px;
    height: 66px;
    position: absolute;
    /* top: 90px; */
    left: 38px;
}

.travel {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: blue;
}

.trail {
    font-family: "Montez", cursive;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: green;
}
.home-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}
.home-icons i {
    background-color: #084880;
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-icons span {
    /* margin-top: 5px; */
    font-size: 13px;
}

.currency img {
    width: 44px;
    height: 34px;
    transform: translateX(10px);
    z-index: -10;
}
.currency span {
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    color: #084880;
}

.actionDiv, .toggleDarkMode {
    display: flex;
    gap: 5px;
    /* transform: translateX(20px); */
}
.toggleDarkMode p {
    font-size: 15px;
    font-weight: 500;
}
/* ::ng-deep .p-inputswitch {
    width: 24px !important;
    height: 24px !important;
}
::ng-deep .p-inputswitch .p-inputswitch-slider {
    width: 10px !important;
    height: 10px !important;
} */

::ng-deep .p-inputswitch {
    width: 25px;
}
::ng-deep .p-inputswitch .p-inputswitch-slider {
    height: 15px;
    margin-top: 10px;
    background: #4d4747;
    width: 25px;
    cursor: pointer;
}
 
::ng-deep .p-inputswitch .p-inputswitch-slider:before {
  width: 8px;
  height: 8px;
  left: 3.5px;
  margin-top: -0.25rem;
  border-radius: 50%;
  transition-duration: 0.2s;
  cursor: pointer;
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: #5F6368 !important;
}
 
::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  left: -8px;
}

::ng-deep .p-button-label {
    font-size: 14px;
    font-weight: 400;
}
::ng-deep .p-button {
    background-color: #1E88E5;
}

.profileImg img {
    width: 41px;
    height: 41px;
    border-radius: 50%;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 10px;
    /* height: 35px; */
    border-top: 4px solid rgba(211, 211, 211, 0.211);
    border-bottom: 4px solid rgba(211, 211, 211, 0.211);
    margin: 3px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-weight: 700;
}

.navbar .activeLink {
    color: #084880;
    border-bottom: 3px solid #084880;
}

/* Stying for 425 screen size */
@media screen and (max-width: 770px) {
    /* .header{
        width: 875px;
    }
    .navbar {
        width: 875px;
    }  */
}

@media screen and (max-width: 426px) {
    .navbar {
        width: 550px;
    } 
    .header{
        width: 550px;
    }
}



/* Styling for dark mode */
.dark-mode {
  background-color: black; 
  color: white;
  /* transition: background-color 0.3s, color 0.3s; */
}

.dark-mode img {
  filter: brightness(0.9);
}

.dark-mode .logo-icon img {
  filter: invert(1) brightness(0.8);
}

.dark-mode .header {
  background-color: black;
  /* border-bottom: 1px solid #333; */
}
.dark-mode .app-logo .logo-text .travel {
    color: rgb(0, 187, 249);
}

.dark-mode .app-logo .logo-text .trail {
  color: rgb(42, 243, 42)
}

.dark-mode .home-icons,
.dark-mode .currency span,
.dark-mode .toggleDarkMode p {
  color: white;
}

.dark-mode .home-icons i,
.dark-mode .navbar a i {
  color: white;
}
.dark-mode .currency span {
    z-index: 2;
}

.dark-mode .currency img {
z-index: 1;
}

.dark-mode .toggleDarkMode p {
  cursor: pointer;
}

.dark-mode .profileImg img {
  border: 2px solid rgb(0, 187, 249);
  border-radius: 50%;
}

/* Navbar Links */
.dark-mode .navbar {
  background-color: black;
}

.dark-mode .navbar a {
  color: white;
  transition: color 0.3s;
}

.dark-mode .navbar a.activeLink,
.dark-mode .navbar a:hover {
  color: rgb(0, 187, 249);
  border-bottom: 3px solid rgb(0, 187, 249);
}


