::ng-deep .p-datatable-table {
    padding: 0 15px;
}
.tableHead {
    display: flex;
    gap: 5px;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tableHead div {
    display: flex;
    flex-direction: column; 
}

.tableHead div i {
    font-size: 8px;
}

::ng-deep .p-datatable-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px !important;
    background-color: white !important;
}

::ng-deep .p-datatable .p-datatable-header {
    border: none;
}
::ng-deep .p-datatable-header p {
    display: flex;
    align-items: center;
}
.right-captions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.searchField {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F3F3F3;
    padding: 10px;
    border-radius: 4px;    
}

.searchField input {
    border: none;
    background-color: #F3F3F3;
}

.searchField input:focus {
    outline: none;
}

.numRows, .numColumns {
    display: flex;
    align-items: center;
    gap: 3px;
    z-index: 2;
    cursor: pointer;
    position: relative;
}
.numRows i, .numColumns i {
    color: #084880;
    font-weight: bolder;
    font-size: 24px;
}

.numColumns i {
    transform: rotate(90deg);
}

.numRows span, .numColumns span {
    color: #084880;
    border: 1px solid #084880;
    padding: 5px;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
}
.right-captions .pi-plus {
    background-color: #084880;
    padding: 5px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.inputFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.field {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.field label {
    font-size: 14px;
    font-weight: 500;
}

.field input {
    border: none;
    background-color: #F1F1F1;
    border-radius: 4px;
    padding: 10px;
}

.field input:focus {
    outline: none;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.buttons button {
    padding: 10px;
    border-radius: 8px;
}

.cancelbtn {
    border: 1px solid #084880;
    color: #084880;
}

.submitbtn {
    background-color: #084880;
    color: white;
    border: none;
}


/* Stying the change number of rows in the table */
.numRowChanges {
    position: absolute;
    top: 50px;
    right: 75px;
}

::ng-deep .p-listbox .p-highlight {
    background-color: #084880 !important;
    color: #ffffff !important;
}

/* Styling the change number of columns in the table */
.selectingColumnDiv {
    position: absolute;
    top: 50px;
    right: 10px;
}

/* Stying the pagination jumping input field */
.jumpingPage {
    display: flex;
    gap: 5px;
}

.jumpingPage input {
    width: 35px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
    text-align: center;
    background-color: #FDFDFD
}

.jumpingPage input:focus {
    outline: 1px solid #084880;
}

.jumpingPage button {
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Styling the paginator in p-table */

::ng-deep .p-paginator {
    padding: 5px 15px;
}

::ng-deep .p-paginator-right-content {
    margin-left: 0 !important;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #084880;
    padding: 5px;
    border-radius: 3px;
    color: white;
    min-width: 2rem;
    height: 2rem;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page, ::ng-deep .p-paginator .p-paginator-first,::ng-deep .p-paginator .p-paginator-prev,::ng-deep .p-paginator .p-paginator-next,::ng-deep .p-paginator .p-paginator-last {
    min-width: 2rem;
    height: 2rem
}


/* making the page responsive for all the screen sizes */
@media screen and (max-width: 768px) {
    ::ng-deep .tableHead {
        width: 150px !important;
    }
}
@media screen and (max-width: 426px) {
    ::ng-deep .p-datatable {
        width: 550px;
    }    
}



/* style property for table */

.dark-mode ::ng-deep .p-datatable {
  background-color: black;
  color: #e0e0e0;
  border: none;
}

.dark-mode ::ng-deep .p-datatable-header,
.dark-mode ::ng-deep .p-datatable-footer {
  background-color: black !important;
  color: #e0e0e0;
}

.dark-mode ::ng-deep .p-datatable-thead > tr > th {
  background-color: #2a2a2a;
  color: #fff;
  border-color: #444;
}

.dark-mode ::ng-deep .p-datatable-tbody > tr > td {
  background-color: #1e1e1e;
  color: #ccc;
  border-color: #444;
}

.dark-mode ::ng-deep .p-datatable-tbody > tr:hover {
  background-color: #333;
}

.dark-mode ::ng-deep .p-paginator {
  background-color: #2a2a2a;
  color: #ccc;
  border-top: 1px solid #444;

}

.dark-mode .numRows i, .dark-mode .numColumns i {
    color: white;
}

.dark-mode .numRows span, .dark-mode .numColumns span {
    border: 1px solid white;
    color: white;
}

.dark-mode .right-captions .pi-plus {
    background-color: white;
    color: black;
}


.dark-mode ::ng-deep .p-dialog .p-dialog-header{
    background-color: #4b4b4b !important;
    color: white !important;
}
.dark-mode ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    color: white;
}

.dark-mode ::ng-deep .p-dialog .p-dialog-content:last-of-type {
    background-color: #4b4b4b !important;
    color: white !important;
}

.dark-mode .field input {
    background-color: lightgray;
}

.dark-mode .cancelbtn {
    background-color: lightgray;
}
.dark-mode .searchField i {
  color: black;
}
