
<app-loader *ngIf="isLoading"></app-loader>
<p-toast></p-toast>
<div class="trip-table" [ngClass]="isDarkMode ? 'dark-mode' : ''" *ngIf="!isLoading">
  <p-table
    #tripTable
    [value]="userTrips"
    [paginator]="true"
    dataKey="id"
    [rows]="rows"
    (onPage)="onPageChange($event)"
    [pageLinks]="3"
    [scrollable]="true"
    scrollHeight="500px"
    [globalFilterFields]="[
      'startLocation',
      'destination',
      'totalDistance',
      'totalExpense',
      'totalMembers'
    ]"
  >
    <ng-template pTemplate="caption">
      <p>Total trips</p>
      <div class="right-captions">
        <div class="searchField">
          <input
            #searchText
            pInputText
            type="text"
            (keydown.enter)="filterGlobal(searchText.value)"
            (input)="reloadAll(searchText.value)"
          />
          <i class="pi pi-search" (click)="filterGlobal(searchText.value)"></i>
        </div>
        <div class="numRows" (click)="changeRows()" #rowSelect>
            <i class="pi pi-bars"></i>
            <span>{{numOfRows}}</span>
        </div>
        <div *ngIf="showRowsChange" class="numRowChanges" >
            <p-listbox
                [options]="rowOptions"
                [(ngModel)] = rows
                (onChange)="closeListbox()"
            />
        </div>
        <div class="numColumns" (click)="showCloumnList()" #coloumnSelect>
            <i class="pi pi-bars"></i>
            <span>{{selectedColumns.length}}</span>
        </div>
        <div class="selectingColumnDiv">
            <p-multiSelect 
                #columnMultiSelect
                [options]="columnOptions"
                [(ngModel)]="selectedColumns"
                optionLabel="label"
                [maxSelectedLabels]="1"
                [displaySelectedLabel]="false"
                (onChange)="columnsChanged($event)"
            />
        </div>
        <i class="pi pi-plus" (click)="openNew()"></i>        
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
    <span class="p-paginator-pages">
      {{ state.first < state.totalRecords ? state.first + 1 : state.first }} to {{state.first + state.rows > state.totalRecords ? state.totalRecords : state.first + state.rows}} of {{state.totalRecords}} Records
    </span>
  </ng-template>
    <ng-template pTemplate="paginatorright" let-state>
    <div class="jumpingPage" style="margin-left: 10px;">
      <input id="goToPageInput" type="number" pInputText [(ngModel)]="goToPageNumber"
        (keyup.enter)="goToPage()">
      <button label="Go" (click)="goToPage()">Go</button>
    </div>
  </ng-template>
  <ng-template pTemplate="paginatorfirstpagelinkicon">
    <i class="pi pi-step-backward" style="font-size: 12px;"></i>
  </ng-template>
  <ng-template pTemplate="paginatorlastpagelinkicon">
    <i class="pi pi-step-forward" style="font-size: 12px;"></i>
  </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="column.value" *ngFor="let column of selectedColumns">
          <div class="tableHead">
              {{column.label}}
              <div class="sort-icons">
                <i class="pi pi-sort-up-fill"></i>
                <i class="pi pi-sort-down-fill"></i>
              </div>
            </div>
        </th>
        <!-- 
        <th pSortableColumn="startLocation" style="width: 20%">
          Start Location <p-sortIcon field="destination" />
        <th pSortableColumn="destination" style="width: 20%">
          Destination <p-sortIcon field="destination" />
        </th>
        <th pSortableColumn="totalDistance" style="width: 20%">
          Total Distance <p-sortIcon field="totalDistance" />
        </th>
        <th pSortableColumn="totalExpense" style="width: 20%">
          Total Expense <p-sortIcon field="totalExpense" />
        </th>
        <th pSortableColumn="totalMembers" style="width: 20%">
          Total Members <p-sortIcon field="totalMembers" />
        </th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trip>
      <tr (click)="showTripDetail(trip)" style="cursor: pointer;">
        <td *ngFor="let column of selectedColumns">{{ column.value === 'totalDistance' ? (trip[column.value] + 'kms') : column.value === 'totalExpense' ? (trip[column.value] | currency:currencyCode) : trip[column.value]}}</td>
        <!-- <td>{{ trip.destination }}</td>
        <td>{{ trip.totalDistance }}</td>
        <td>{{ trip.totalExpense }}</td>
        <td>{{ trip.totalMembers }}</td> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" class="emptyMessage">
      <tr>
        <td colspan="6"><div class="flex justify-content-center align-items-center">No Trips Found!.</div></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="add-trip-container" [ngClass]="isDarkMode ? 'dark-mode' : ''">
<p-dialog
  header="Add Trip"
  [modal]="true"
  [(visible)]="showDailog"
  [resizable]="false"
  [draggable]="false"
  (onHide)="closeDailog()"
>
  <ng-template pTemplate="content">
    <div class="inputFields">
      <div class="inputfield">
        <label for="sl">Start Location *</label>
        <input
          type="text"
          pInputText
          id="sl"
          [(ngModel)]="startPlace"
          pattern="^[a-zA-Z\s]+$"
          (ngModelChange)="validatePlaceName()"
          autofocus
          required
        />
        <span *ngIf="isSPV">Start Location is Invalid*</span>
      </div>
      <div class="inputfield">
        <label for="d">Destination *</label>
        <input
          type="text"
          pInputText
          id="d"
          [(ngModel)]="destination"
          pattern="^[a-zA-Z\s]+$"
          (ngModelChange)="validatePlacedescription()"
          required
        />
        <span *ngIf="isDV">Destination is Invalid*</span>
      </div>
      <div class="inputfield">
        <label for="td">Total Distance *</label>
        <input
          type="number"
          pInputText
          id="td"
          [(ngModel)]="totalDistance"
          (ngModelChange)="validateNumberFields('td')"
          required
        />
        <span *ngIf="isTDV">Total Distance is Invalid*</span>
      </div>
      <div class="inputfield">
        <label for="te">Total Expanse *</label>
        <input
          type="number"
          pInputText
          id="te"
          [(ngModel)]="totalExpense"
          (ngModelChange)="validateNumberFields('te')"
          required
        />
        <span *ngIf="isTEV">Total Expanse is Invalid*</span>
      </div>
      <div class="inputfield">
        <label for="tm">Total Members *</label>
        <input
          type="number"
          pInputText
          id="tm"
          [(ngModel)]="totalMembers"
          (ngModelChange)="validateNumberFields('tm')"
          required
        />
        <span *ngIf="isTMV">Total Members is Invalid*</span>
      </div>
      <div class="buttons">
        <button (click)="closeDailog()" class="cancelbtn">Cancel</button>
        <button (click)="onNewTripSubmit()" class="submitbtn">Submit</button>
      </div>
    </div>
  </ng-template>
</p-dialog>
</div>

<div class="trip-detail-container" [ngClass]="isDarkMode ? 'dark-mode' : ''">
  <p-dialog 
    header="Trip Detail"
    [modal]="true"
    [(visible)]="showTripDetailDailog"
    [resizable]="false"
    [draggable]="false"
  >
    <div class="trip-detail">
      <p><strong>Start Location: </strong>{{startPlace}}</p>
      <p><strong>Destination: </strong>{{destination}}</p>
      <p><strong>Total Distanse: </strong>{{totalDistance}}</p>
      <p><strong>Total Expense: </strong>{{totalExpense}}</p>
      <p><strong>Total Members: </strong>{{totalMembers}}</p>
    </div>
  </p-dialog>
</div>
