.users-detail-table {
  padding: 0 20px;
}

/* ::ng-deep .p-datatable-table {
    padding: 0 15px;
} */
.tableHead {
  display: flex;
  gap: 5px;
  align-items: center;
}

.tableHead div {
  display: flex;
  flex-direction: column;
}

.tableHead div i {
  font-size: 8px;
}

.users-detail-table ::ng-deep .p-datatable-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0 !important;
  background-color: white !important;
}

::ng-deep .p-datatable .p-datatable-header {
    border: none;
}

::ng-deep .p-datatable thead > tr > th:first-child {
  border-top-left-radius: 8px;
}

::ng-deep .p-datatable thead > tr > th:last-child {
  border-top-right-radius: 8px;
}

::ng-deep .p-datatable-header p {
  display: flex;
  align-items: center;
}

.users-detail-table ::ng-deep .p-paginator {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.right-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.other-fileds, .display-formate {
  display: flex;
  gap: 10px;
}

.right-contents .pi-plus {
  background-color: #084880;
  padding: 5px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  height: 26px;
}

.currency-formate ::ng-deep .p-dropdown {
  height: 30px !important;
  display: flex;
  align-items: center;
  width: 250px;
}

.currency-formate ::ng-deep .p-dropdown .p-highlight {
  background-color: #f3f3f3 !important;
  color: black !important;
}

/* ::ng-deep .users-detail-table.p-datatable .p-datatable-tbody > tr > td {
    padding: 10px;
} */

.searchField {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 4px;
  height: 30px;
}

.searchField i {
    cursor: pointer;
}

.searchField input {
  border: none;
  background-color: #f3f3f3;
}

.searchField input:focus {
  outline: none;
}

.numRows,
.numColumns {
  display: flex;
  align-items: center;
  gap: 3px;
  z-index: 2;
  cursor: pointer;
  position: relative;
}

.numRows i,
.numColumns i {
  color: #084880;
  font-weight: bolder;
  font-size: 24px;
}

.numColumns i {
  transform: rotate(90deg);
}

.numRows span,
.numColumns span {
  color: #084880;
  border: 1px solid #084880;
  padding: 5px;
  border-radius: 2px;
  font-size: 10px;
  text-align: center;
}

/* Stying the change number of rows in the table */
.numRowChanges {
  position: absolute;
  top: 50px;
  right: 75px;
  z-index: 100;
}

.numRowChanges ::ng-deep .p-listbox .p-listbox-list {
  padding: 0;
}

/* .numRowChanges ::ng-deep .p-listbox .p-highlight {
  background-color: #084880 !important;
  color: #ffffff !important;
} */

::ng-deep .p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    background-color: #084880 !important;
    color: #ffffff !important;
    border-radius: 5px;
}

td i {
  cursor: pointer;
}

/* Styling the change number of columns in the table */
.selectingColumnDiv {
    position: absolute;
    top: 25px;
    right: 91px;
}

.selectingColumnDiv ::ng-deep .p-multiselect {
    width: 0px;
    height: 0px;
}

.selectingColumnDiv ::ng-deep .p-multiselect .p-multiselect-panel {
    position: absolute;
    right: -60px;
    top: 10px;
    width: 200px;
}
.selectingColumnDiv ::ng-deep .p-multiselect .p-multiselect-trigger-icon {
    display: none;
}
.selectingColumnDiv ::ng-deep .p-multiselect-panel .p-multiselect-items {
  padding: 0;
}

/* Sty;ling the adding and editing the profile */
/* .profile-img {
    width: 100px;
    height: 100px;
    position: relative;
}

.profile-img img {
    border-radius: 50%;
    border: 1px solid #084880;
    padding: 1px;
}

.profile-img i {
    position: absolute;
    top: 25px;
    right: 12px;
    color: white;
    cursor: pointer;
} */

.add-Update-user ::ng-deep .p-dialog .p-dialog-header {
  padding: 1rem 1.5rem;
}
 .add-Update-user ::ng-deep .p-dialog .p-dialog-content {
  padding: 10px 20px !important;
}

.add-Update-user ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover,
.delete-dailog ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  background: none;
}


.form-fields {
  display: flex;
  gap: 20px;
  width: 95%;
  justify-content: center;
  align-items: center;
  transform: translateX(20px);
}

.left-elements,
.right-elements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.right-elements {
    margin-top: 30px;
}

.row {
  display: flex;
  gap: 10px;
  width: 95%;
}

.row div {
  width: 49%;
}

.inputfield {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 95%;
}

::ng-deep .inputfield .p-dropdown {
    /* width: 235px !important; */
    height: 30px;
    padding: 5px !important;
    display: flex;
    align-items: center;
    background-color: #F3F3F3;
    border: none;
}

/* ::ng-deep .p-dialog .p-dialog-content {
    padding: 0;
} */

.inputfield label {
    font-size: 14px;
}
.inputfield input, .inputfield textarea {
    padding: 6px;
    background-color: #F3F3F3;
    border: none;
    border-radius: 4px;
}

.inputfield textarea {
  resize: none;
}

.inputfield span {
  font-size: 12px;
  color: red;
  transform: translateY(-5px);
}
.inputfield input:focus {
    outline: none;
    border: 1px solid #1E88E5
}

#address {
    height: 100px;
}

.adminCheck {
    display: flex !important;
    flex-direction: row;
    align-items: center !important;
    gap: 15px;
    padding: 0 0 10px 0;
    transform: translateY(10px);
    margin-top: 12px;
}
.adminCheck input, .adminCheck label {
  cursor: pointer;
}

.profile-img {
  width: 100px;
  height: 100px;
  position: relative;
}

.profile-img img {
  border-radius: 50%;
  border: 1px solid #084880;
  padding: 1px;
}

.profile-img i {
  position: absolute;
  top: 25px;
  right: 12px;
  color: white;
  cursor: pointer;
}

.genderField label {
  background-color: #f3f3f3;
  padding: 6px;
  border-radius: 4px;
  font-size: 14px !important;
}

.genderField div {
  display: flex;
  gap: 5px;
}

.selectedGender {
  background-color: #1e88e5 !important;
  color: white;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}

.buttons button {
    margin-top: 10px;
    padding: 6px;
    border: 1px solid #084880;
    font-size: 14px;
    border-radius: 8px; 
    width: 100px;
    cursor: pointer;
}

.submitBtn {
    background-color: #084880;
    color: white;
}

/* .inputfield ::ng-deep .p-dropdown-panel .p-dropdown-items {
  width: 170px !important;
} */


/* Styling the delete confirm button*/

.delete-dailog ::ng-deep .p-dialog .p-dialog-header {
  padding: 10px 20px;
}
.delete-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.delete-container img {
    width: 120px;
    height: 120px;
}

.users-detail-table ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
      padding: 0.5rem 1rem;
}

.users-detail-table ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
  background-color: #CEE8FF;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text p {
    font-size: 14px;

}
.btns {
    display: flex;
    gap: 10px;
    width: 90%;
}
.btns button {
    width: 45%;
    border: 1px solid #084880;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.delbtn {
    background-color: #084880;
    color: white;
}

/* Stying the pagination jumping input field */
::ng-deep .p-paginator {
    padding: 5px 15px !important;
}
.jumpingPage {
    display: flex;
    gap: 5px;
}

.jumpingPage input {
    width: 35px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
    text-align: center;
}

.jumpingPage button {
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Styling the paginator in p-table */

::ng-deep .p-paginator {
    padding: 5px 10px;
}

::ng-deep .p-paginator-right-content {
    margin-left: 0 !important;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #084880;
    padding: 5px;
    border-radius: 3px;
    color: white;
    min-width: 2rem;
    height: 2rem;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page, ::ng-deep .p-paginator .p-paginator-first,::ng-deep .p-paginator .p-paginator-prev,::ng-deep .p-paginator .p-paginator-next,::ng-deep .p-paginator .p-paginator-last {
    min-width: 2rem;
    height: 2rem
}

/* ::ng-deep .tableHead:last-child {
  width: 150px !important;
} */

/* making the page responsive for all the screen sizes */

@media screen and (max-width: 768px) {

    ::ng-deep .tableHead {
        width: 150px !important;
    }
    ::ng-deep .p-datatable-header {
        flex-direction: row;
    }
    ::ng-deep .p-dialog {
      width: 60%;
    }

    .form-fields {
      flex-direction: column;
      gap: 10px;
      transform: translateX(10px);
    }
    .left-elements,
    .right-elements {
      width: 90%;
    }
    .right-elements {
      margin-top: 5px;
    }
    .row {
      flex-direction: column;
      width: 100%;
      gap: 10px;
      padding: 0 10px;
      justify-content: center;
      align-items: center;
    }
    .row .inputfield {
      width: 108%;
    }

    .inputfield {
      width: 100%;
    }

    /* ::ng-deep .inputfield .p-dropdown {
      width: 360px;
    } */

    .buttons {
      width: 100%;
    }

    .currency-formate ::ng-deep .p-dropdown {
      width: 200px;
    }
    .adminCheck {
      margin: 0;
    }
}

@media screen and (max-width: 426px) {

  ::ng-deep .tableHead {
        width: 130px !important;
    }

  .currency-formate ::ng-deep .p-dropdown {
        width: 395px;
    }
    /* ::ng-deep .p-datatable {
        width: 550px !important;
    }     */
    ::ng-deep .p-datatable-header {
        flex-direction: column;
        gap: 10px;
    }
    .right-contents {
        justify-content: flex-start;
        flex-direction: column;
    }
    .searchField input{
      width: 205px;
    } 

    ::ng-deep .p-dialog {
      width: 80%;
    }

    .left-elements,
    .right-elements {
      width: 100%;
    }

    .inputfield, .row {
      width: 100%;
    }

    .users-detail-table ::ng-deep .p-paginator-left-content {
        margin: 5px 100px !important;
    }
}

@media screen and (max-width: 320px) {
  .currency-formate ::ng-deep .p-dropdown {
      width: 300px;
    }

    .searchField input{
      width: 110px;
    } 

    ::ng-deep .p-dialog {
      width: 90%;
    }

    .users-detail-table ::ng-deep .p-paginator-left-content {
        margin-right: 36px !important;
        margin-left: 40px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .jumpingPage {
      margin-top: 5px;
    }
}



/* style property for table */

.dark-mode ::ng-deep .p-datatable {
  background-color: black;
  color: #e0e0e0;
  border: none;
}

.dark-mode ::ng-deep .p-datatable-header,
.dark-mode ::ng-deep .p-datatable-footer {
  background-color: black !important;
  color: #e0e0e0;
}

.dark-mode ::ng-deep .p-datatable-thead > tr > th {
  background-color: #2a2a2a;
  color: #fff;
  border-color: #444;
}

.dark-mode ::ng-deep .p-datatable-tbody > tr > td {
  background-color: #1e1e1e;
  color: #ccc;
  border-color: #444;
}

.dark-mode ::ng-deep .p-datatable-tbody > tr:hover {
  background-color: #333;
}

.dark-mode ::ng-deep .p-paginator {
  background-color: #2a2a2a;
  color: #ccc;
  border-top: 1px solid #444;
  border-bottom: none;
}

.dark-mode .numRows i, .dark-mode .numColumns i {
    color: white;
}

.dark-mode .numRows span, .dark-mode .numColumns span {
    border: 1px solid white;
    color: white;
}

.dark-mode .right-captions .pi-plus {
    background-color: white;
    color: black;
}

.dark-mode ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page,
.dark-mode ::ng-deep .p-paginator .p-paginator-first,
.dark-mode ::ng-deep .p-paginator .p-paginator-prev,
.dark-mode ::ng-deep .p-paginator .p-paginator-next,
.dark-mode ::ng-deep .p-paginator .p-paginator-last {
    color: white;
}



.dark-mode ::ng-deep .p-dialog .p-dialog-header{
    background-color: #4b4b4b !important;
    color: white !important;
}
.dark-mode ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    color: white;
}

.dark-mode ::ng-deep .p-dialog .p-dialog-content:last-of-type {
    background-color: #4b4b4b !important;
    color: white !important;
}

.dark-mode .inputfield input, .dark-mode  .inputfield textarea {
    background-color: lightgray;
}

.dark-mode .inputfield ::ng-deep .p-dropdown {
  background-color: lightgray;
}

.dark-mode .genderField label {
  background-color: lightgray;
  color: black;
}

.dark-mode .cancelbtn {
    background-color: lightgray;
}

.buttons button:first-child {
  background-color: lightgray ;
}

.dark-mode .inputFields .field .pi-upload {
    color: black;
}
.dark-mode .inputFields .field .image-upload-container {
    background-color: lightgray;
}

.dark-mode .inputFields .field .image-upload-container p {
    color: black;
}

.dark-mode .searchField i {
  color: black;
}
