<app-loader *ngIf="isLoading"></app-loader>
<div class="users-detail-table" *ngIf="!isLoading">
  <p-table
    #usersDetailTable
    [value]="users"
    [paginator]="true"
    [rows]="numOfRows"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} to {last} of {totalRecords} Records"
    [globalFilterFields]="['userName', 'age', 'Country', 'TotalExpense']"
  >
    <ng-template pTemplate="caption">
      <p>Users Details</p>
      <div class="right-contents">
        <div class="currency-formate">
          <p-dropdown
            [options]="currencyFormate"
            [(ngModel)]="selectedCurrency"
            optionLabel="name"
            placeholder="Choose Currency Format"
          >
          </p-dropdown>
        </div>
        <div class="distance-formate">
          <p-dropdown
            [options]="distanceFormate"
            [(ngModel)]="selectedDistanceFormate"
            placeholder="Choose Distance Format"
          ></p-dropdown>
        </div>
        <div class="searchField">
          <input pInputText type="text" (input)="filterGlobal($event)" />
          <i class="pi pi-search"></i>
        </div>
        <div class="numRows" (click)="changeRows()">
          <i class="pi pi-bars"></i>
          <span>{{ numOfRows }}</span>
        </div>
        <div *ngIf="showRowsChange" class="numRowChanges">
          <p-listbox
            [options]="rowOptions"
            [(ngModel)]="numOfRows"
            (onChange)="closeListbox()"
          />
        </div>
        <div class="numColumns" (click)="showCloumnList()">
          <i class="pi pi-bars"></i>
          <span>5</span>
        </div>
        <div *ngIf="shoeColumnsDisplay" class="selectingColumnDiv">
          <p-multiSelect [options]="columnOptions" />
        </div>
        <i class="pi pi-plus" (click)="openNew()"></i>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
          <th>Profile</th>
          <th pSortableColumn="userName">
            <div class="tableHead">
              User Name
              <div class="sort-icons">
                <i class="pi pi-sort-up-fill"></i>
                <i class="pi pi-sort-down-fill"></i>
              </div>
            </div>
          </th>
          <th pSortableColumn="age">
            <div class="tableHead">
              Age
              <div class="sort-icons">
                <i class="pi pi-sort-up-fill"></i>
                <i class="pi pi-sort-down-fill"></i>
              </div>
            </div>
          </th>
          <th pSortableColumn="totalExpense">
            <div class="tableHead">
              Total Expense
              <div class="sort-icons">
                <i class="pi pi-sort-up-fill"></i>
                <i class="pi pi-sort-down-fill"></i>
              </div>
            </div>
          </th>
          <th pSortableColumn="country">
            <div class="tableHead">
              Country
              <div class="sort-icons">
                <i class="pi pi-sort-up-fill"></i>
                <i class="pi pi-sort-down-fill"></i>
              </div>
            </div>
          </th>
          <th>Bucket List</th>
          <th>Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td><img [src]="user.userImage" alt="Profile image" width="30px" height="30px" style="border-radius: 10px;"></td>
            <td>{{user.username}}</td>
            <td>{{user.age}}</td>
            <td>{{user.totalExpense}}</td>
            <td>{{user.country}}</td>
            <td><i class="pi pi-pencil"></i></td>
            <td><i class="pi pi-trash"></i></td>
        </tr>
    </ng-template>
  </p-table>
</div>

<div class="add-Update-user">
  <p-dialog
    [(visible)]="showAddOrUpdateDailog"
    [position]="'top'"
    [modal]="true"
    [resizable]="false"
    [draggable]="false"
    [style]="{width: '75%', height: '75%'}"
  >

  </p-dialog>
</div>