<app-loader *ngIf="isLoading"></app-loader>
<p-toast></p-toast>
<div class="bucket-list-container" [ngClass]="isDarkMode ? 'dark-mode' : ''" *ngIf="!isLoading">
  <div #bucketListItem class="bucket-list-item" *ngFor="let bucketListItem of userBucketLists">
    <div class="bucket-image">
      <p-image
        [src]="bucketListItem.placeImage"
        alt="image"
        width="100%"
        height="220px"
        alt="Place Image"
      ></p-image>
      <span class="distance-field">{{bucketListItem.estimatedDistance}} KMs</span>
      <div class="editDeletBtns">
        <i class="pi pi-pencil" (click)="editBucketItem(bucketListItem)"></i>
        <i class="pi pi-trash" (click)="deleteBucketItem(bucketListItem)" *ngIf="isAdmin"></i>
      </div>
    </div>
    <div class="content">
      <span>{{bucketListItem.placeName}}</span>
      <p>
        {{bucketListItem.placeDescription}}
      </p>
      <span>{{bucketListItem.estimatedBudget | currency:currencyCode}}</span>
    </div>
  </div>
  <div class="bucket-list-item adding-new-bucket" style="height: 300px;" (click)="showDailog()">
        <i class="pi pi-plus" (click)="showDailog()"></i>
        <p>Add a place to your Bucket List</p>
  </div>
</div>

<div class="add-bucket-contsiner" [ngClass]="isDarkMode ? 'dark-mode' : ''">
<p-dialog
    [header]="bucketId ? 'Update Place' : 'Add Place'"
    [(visible)]="showAddBucketDailog"
    [resizable]="false"
    [draggable]="false"
    [modal]="true"
    (onHide)="closeDailog()"
>
    <ng-template pTemplate="content">
    <div class="inputFields">
      <div class="field">
        <label for="pi">Place Image *</label>
        <div class="image-upload-container" (click)="triggerFileinput()" *ngIf="!placeImage">
            <i class="pi pi-upload"></i>
            <p>Drag and Drop or Upload</p>
        </div>
        <input
          type="file"
          pInputText
          id="pi"
          required
          accept="image/png, image/jpeg, image/jpg"
          (change)="onFilechanges($event)"
          hidden
          #fileInput
        />
        
        <div class="selected-image" *ngIf="placeImage">
            <img [src]="placeImage" alt="Place image" width="100%" height="200px"/>
            <div>
                <i class="pi pi-pencil" (click)="triggerFileinput()"></i>
                <i class="pi pi-trash" (click)="deleteSelectedPlaceImage()"></i>
            </div>
        </div>
        <span *ngIf="isPIV">{{placeImageErrormsg}}</span>
      </div>
      <div class="field">
        <label for="pn">Place Name *</label>
        <input
          type="text"
          pInputText
          id="pn"
          [(ngModel)]="placeName"
          pattern="^[a-zA-Z\s]+$"
          (ngModelChange)="validatePlaceName()"
          required
        />
        <span *ngIf="isPNV">Place Name is Invalid*</span>
      </div>
      <div class="field">
        <label for="pd">Place Description *</label>
        <input
          type="text"
          pInputText
          id="pd"
          [(ngModel)]="placeDescription"
          (ngModelChange)="validatePlaceName()"
          required
        />
        <span *ngIf="isPDV">Place Description is Invalid*</span>
      </div>
      <div class="field">
        <label for="ed">Estimated Distance *</label>
        <input
          type="number"
          pInputText
          id="ed"
          [(ngModel)]="estimatedDistance"
          required
        />
        <span *ngIf="isEDV">Estimated Distance is Invalid*</span>
      </div>
      <div class="field">
        <label for="eb">Estimated Budget *</label>
        <input
          type="number"
          pInputText
          id="eb"
          [(ngModel)]="estimatedBudget"
          required
        />
        <span *ngIf="isEBV">Estimated Budget is Invalid*</span>
      </div>
      <div class="buttons">
        <button (click)="closeDailog()" class="cancelbtn">Cancel</button>
        <button (click)="addRecord(bucketId)" class="submitbtn">{{bucketId ? 'Update' : 'Submit'}}</button>
      </div>
    </div>
  </ng-template>
</p-dialog>
</div>
