<app-loader *ngIf="isLoading"></app-loader>
<ng-container *ngIf="!isLoading">
  <div class="graphtype" [ngClass]="isDarkMode ? 'dark-mode' : ''">
    <p>Graph Types</p>
    <div class="graphTypeRadio">
      <input
        type="radio"
        name="graphtype"
        id="barGraph"
        value="barGraph"
        checked
        (change)="onRadioChange('barGraph')"
        hidden
      />
      <label for="barGraph" [class.radioChecked]="selectedRadio === 'barGraph'"
        >Bar</label
      >
      <input
        type="radio"
        name="graphtype"
        id="lineGraph"
        value="lineGraph"
        (change)="onRadioChange('lineGraph')"
        hidden
      />
      <label
        for="lineGraph"
        [class.radioChecked]="selectedRadio === 'lineGraph'"
        >Line</label
      >
      <input
        type="radio"
        name="graphtype"
        id="pieChart"
        value="pieChart"
        (change)="onRadioChange('pieChart')"
        hidden
      />
      <label for="pieChart" [class.radioChecked]="selectedRadio === 'pieChart'"
        >Pie</label
      >
    </div>
  </div>
  <div [ngClass]="isDarkMode ? 'dark-mode' : ''">
    <div class="barGraph" *ngIf="selectedRadio === 'barGraph'">
      <!-- <p-chart type="bar" [data]="barGraphData" [options]="barGraphOptions" [responsive]="true"></p-chart> -->
       <div class="graph-title"><h2>Trip Vs Expense</h2></div>
      <div id="d3-barGraph">
        <div class="tooltip">
          <p><strong id="name"></strong></p>
          <p><strong id="value"></strong></p>
        </div>
      </div>      
    </div>
    <div class="lineBar" *ngIf="selectedRadio === 'lineGraph'">
      <!-- <p-chart type="line" [data]="lineGraphData" [options]="lineGraphOptions" /> -->
       <div class="graph-title"><h2>Trip Vs Expense</h2></div>
      <div id="d3-lineChart">
        <div class="tooltip">
          <p><strong id="name"></strong></p>
          <p><strong id="value"></strong></p>
        </div>
      </div>
    </div>
    <div class="pieChart" *ngIf="selectedRadio === 'pieChart'">
      <!-- <p-chart type="pie" [data]="pieChartData" [options]="pieChartOptions" height="500px"/> -->
      <div class="graph-title"><h2>Trip Vs Expense</h2></div>
      <div id="d3-pieChart">
        <div class="pTooltip">
          <p><strong id="pname"></strong></p>
          <p><strong id="pvalue"></strong></p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
