<app-loader *ngIf="isLoading"></app-loader>
<p-toast></p-toast>
<div class="user-trip-container" *ngIf="!isLoading">
  <div class="table-header"></div>
  <div class="user-trip-table" [ngClass]="isDarkMode ? 'dark-mode' : ''">
    <p-table
      #userTripTable
      [value]="usersTrips"
      [paginator]="true"
      (onPage)="onPageChange($event)"
      [rows]="numOfRows"
      [pageLinks]="3"
      [scrollable]="true"
      scrollHeight="500px"
      [globalFilterFields]="[
        'username',
        'totalDistance',
        'gender',
        'age',
        'totalExpense'
      ]"
    >
      <ng-template pTemplate="caption">
        <p>User Trips</p>
        <div class="right-contents">
          <div class="display-format">
            <div class="currency-formate">
            <p-dropdown
              [options]="currencyFormate"
              [(ngModel)]="selectedCurrency"
              optionLabel="name"
              placeholder="Choose Currency Format"
              (onChange)="currencyFormateChanged()"
            >
            </p-dropdown>
          </div>
          <div class="distance-formate">
            <p-dropdown
              [options]="distanceFormate"
              optionLabel="name"
              [(ngModel)]="selectedDistanceFormate"
              (onChange)="distanceFormateChnaged()"
              placeholder="Choose Distance Format"
            ></p-dropdown>
          </div>
          </div>
          <!-- <div class="currency-formate">
            <p-dropdown
              [options]="currencyFormate"
              [(ngModel)]="selectedCurrency"
              optionLabel="name"
              placeholder="Choose Currency Format"
              (onChange)="currencyFormateChanged()"
            >
            </p-dropdown>
          </div>
          <div class="distance-formate">
            <p-dropdown
              [options]="distanceFormate"
              optionLabel="name"
              [(ngModel)]="selectedDistanceFormate"
              (onChange)="distanceFormateChnaged()"
              placeholder="Choose Distance Format"
            ></p-dropdown>
          </div> -->
          <div class="other-Fields">
            <div class="searchField">
            <input 
              #searchText
              pInputText 
              type="text" 
              (keydown.enter)="filterGlobal(searchText.value)"
              (input)="reloadAll(searchText.value)"

            />
            <i class="pi pi-search" (click)="filterGlobal(searchText.value)"></i>
          </div>
          <div class="numRows" (click)="changeRows()" #rowSelect>
            <i class="pi pi-bars"></i>
            <span>{{ numOfRows }}</span>
          </div>
          <div *ngIf="showRowsChange" class="numRowChanges">
            <p-listbox
              [options]="rowOptions"
              [(ngModel)]="numOfRows"
              (onChange)="closeListbox()"
            />
          </div>
          <div class="numColumns" (click)="showCloumnList()" #coloumnSelect>
            <i class="pi pi-bars"></i>
            <span>{{selectedColumns.length + 1}}</span>
          </div>
          <div class="selectingColumnDiv">
            <p-multiSelect
              #columnMultiSelect
              [options]="columnOptions"
              [(ngModel)]="selectedColumns"
              optionLabel="label"
              (onChange)="columnsChanged($event)"
              [displaySelectedLabel]="false"
            />
          </div>
          </div>
          
        </div>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
    <span class="p-paginator-pages">
      {{ state.first < state.totalRecords ? state.first + 1 : state.first }} to {{state.first + state.rows > state.totalRecords ? state.totalRecords : state.first + state.rows}} of {{state.totalRecords}} Records
    </span>
  </ng-template>
      <ng-template pTemplate="paginatorright" let-state>
        <div class="jumpingPage" style="margin-left: 10px">
          <input
            id="goToPageInput"
            type="number"
            pInputText
            [(ngModel)]="goToPageNumber"
            (keyup.enter)="goToPage()"
          />
          <button label="Go" (click)="goToPage()">Go</button>
        </div>
      </ng-template>
      <ng-template pTemplate="paginatorfirstpagelinkicon">
    <i class="pi pi-step-backward" style="font-size: 12px;"></i>
  </ng-template>
  <ng-template pTemplate="paginatorlastpagelinkicon">
    <i class="pi pi-step-forward" style="font-size: 12px;"></i>
  </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th
            [pSortableColumn]="column.value"
            *ngFor="let column of selectedColumns"
          >
            <div class="tableHead">
              {{ column.label }}
              <div class="sort-icons">
                <i class="pi pi-sort-up-fill"></i>
                <i class="pi pi-sort-down-fill"></i>
              </div>
            </div>
          </th>
          <!-- <th pSortableColumn="totalDistance">
            <div class="tableHead">
              Total Diatance
              <div class="sort-icons">
                <i class="pi pi-sort-up-fill"></i>
                <i class="pi pi-sort-down-fill"></i>
              </div>
            </div>
          </th>
          <th pSortableColumn="gender">
            <div class="tableHead">
              Gender
              <div class="sort-icons">
                <i class="pi pi-sort-up-fill"></i>
                <i class="pi pi-sort-down-fill"></i>
              </div>
            </div>
          </th>
          <th pSortableColumn="age">
            <div class="tableHead">
              Age
              <div class="sort-icons">
                <i class="pi pi-sort-up-fill"></i>
                <i class="pi pi-sort-down-fill"></i>
              </div>
            </div>
          </th>
          <th pSortableColumn="totalExpense">
            <div class="tableHead">
              Total Expense
              <div class="sort-icons">
                <i class="pi pi-sort-up-fill"></i>
                <i class="pi pi-sort-down-fill"></i>
              </div>
            </div>
          </th> -->
          <th><div class="tableHead">Bucket List</div></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-userTrip>
        <tr>
          <td *ngFor="let column of selectedColumns">
            {{(column.value === 'totalDistance') ? (getConvertedDistance(userTrip.totalDistance)) : (column.value === 'totalExpense') ? (convertAmount(userTrip.totalExpense) | currency: currencyCode:usercurrencySymbol) : userTrip[column.value]}}
          </td>
          
          <!-- <td>{{ userTrip.username }}</td>
          <td>{{ getConvertedDistance(userTrip.totalDistance)}}</td>
          <td>{{ userTrip.gender }}</td>
          <td>{{ userTrip.age }}</td>
          <td>{{ convertAmount(userTrip.totalExpense) | currency: currencyCode }}</td> -->
          <td>
            <i class="pi pi-tag" (click)="openUserBucketList(userTrip.id)" style="cursor: pointer;"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6"><div class="flex justify-content-center align-items-center">No Trips Found!.</div></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="bucketDailog" [ngClass]="isDarkMode ? 'dark-mode' : ''">
  <p-dialog
    header="User Bucket List"
    [(visible)]="bucketListDailog"
    [modal]="true"
    [resizable]="false"
    [draggable]="false"
    (onHide)="closeBucketListDailog()"
    [style]="{ width: '95%', height: '95%' }"
  >
    <ng-template pTemplate="content">
      <app-loader *ngIf="isbucketListloading"></app-loader>
      <div class="bucketList-container" *ngIf="!isbucketListloading">
        <div
          class="bucket-list-item"
          *ngFor="let bucketListItem of bucketListItems"
        >
          <div class="bucket-image">
            <p-image
              [src]="bucketListItem.placeImage"
              alt="image"
              width="100%"
              height="200px"
              alt="Place Image"
            ></p-image>
            <span>{{ bucketListItem.estimatedDistance }} KMs</span>
            <div class="editDeletBtns">
              <i
                class="pi pi-pencil"
                (click)="displayBucketItem(bucketListItem)"
              ></i>
              <i
                class="pi pi-trash"
                (click)="showDeleteDailog(bucketListItem.id)"
              ></i>
            </div>
          </div>
          <div class="content">
            <span>{{ bucketListItem.placeName }}</span>
            <p>{{ bucketListItem.placeDescription }}</p>
            <span>${{ bucketListItem.estimatedBudget }}</span>
          </div>
        </div>
      </div>
      <div *ngIf="haveBucketLists" class="no-bucket-list">No Bucket List For this user!</div>
    </ng-template>
  </p-dialog>
</div>

<div class="editBucketItem" [ngClass]="isDarkMode ? 'dark-mode' : ''">
  <p-dialog
    header="Update Place"
    [(visible)]="showEditBucketDialog"
    [resizable]="false"
    [draggable]="false"
    [modal]="true"
  >
    <ng-template pTemplate="content">
      <div class="inputFields">
        <div class="inputfield">
          <label for="pi">Place Image*</label>
          <div
            class="image-upload-container"
            (click)="triggerFileinput()"
            *ngIf="!placeImage"
          >
            <i class="pi pi-upload"></i>
            <p>Drag and Drop or Upload</p>
          </div>
          <input
            type="file"
            pInputText
            id="pi"
            required
            accept="image/png, image/jpeg, image/jpg"
            (change)="onFilechanges($event)"
            hidden
            #fileInput
          />
          
          <div class="selected-image" *ngIf="placeImage">
            <img
              [src]="placeImage"
              alt="Place image"
              width="100%"
              height="200px"
            />
            <div>
              <i class="pi pi-pencil" (click)="triggerFileinput()"></i>
              <i class="pi pi-trash" (click)="deleteSelectedPlaceImage()"></i>
            </div>
          </div>
          <span *ngIf="isPIV">Image is required*</span>
        </div>
        <div class="inputfield">
          <label for="pn">Place Name*</label>
          <input
            type="text"
            pInputText
            id="pn"
            [(ngModel)]="placeName"
            (ngModelChange)="validatePlaceName()"
            required
          />
          <span *ngIf="isPNV">Place Name is Invalid*</span>
        </div>
        <div class="inputfield">
          <label for="pd">Place Description*</label>
          <input
            type="text"
            pInputText
            id="pd"
            [(ngModel)]="placeDescription"
            (ngModelChange)="validatePlaceDescription()"
            required
          />
          <span *ngIf="isPDV">Place Description is Invalid*</span>
        </div>
        <div class="inputfield">
          <label for="ed">Estimated Distance*</label>
          <input
            type="number"
            pInputText
            id="ed"
            [(ngModel)]="estimatedDistance"
            (ngModelChange)="validateED()"
            required
          />
          <span *ngIf="isEDV">Estimated Distance is Invalid*</span>
        </div>
        <div class="inputfield">
          <label for="eb">Estimated Budget*</label>
          <input
            type="number"
            pInputText
            id="eb"
            [(ngModel)]="estimatedBudget"
            (ngModelChange)="validateEB()"
            required
          />
          <span *ngIf="isEBV">Estimated Budget is Invalid*</span>
        </div>
        <div class="buttons">
          <button (click)="closeEditDailog()" class="cancelbtn">Cancel</button>
          <button (click)="updateBucketItem()" class="submitbtn">Update</button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</div>

<div class="delete-dailog" [ngClass]="isDarkMode ? 'dark-mode' : ''">
  <p-dialog
    [(visible)]="isDeleteDailog"
    [modal]="true"
    [position]="'top'"
    [resizable]="false"
    [draggable]="false"
  >
    <ng-template pTemplate="content">
      <div class="delete-container">
        <img src="assets/deleteImg.png" alt="Delete image" />
        <div class="text">
          <h4>Are You sure!??</h4>
          <p>Do you really want to delete the selected item?</p>
        </div>
        <div class="btns">
          <button (click)="closeDeleteDailog()">Cancel</button>
          <button class="delbtn" (click)="deleteBucketItem()">Delete</button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</div>
