
.user-trip-table {
    padding: 0 20px;
}

/* ::ng-deep .p-datatable-table {
    padding: 0 15px;
} */
.tableHead {
    display: flex;
    gap: 5px;
    align-items: center;
}

.tableHead div {
    display: flex;
    flex-direction: column; 
}

.tableHead div i {
    font-size: 8px;
}

.user-trip-table ::ng-deep .p-datatable-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 !important;
    background-color: white !important;
}

::ng-deep .p-datatable thead > tr > th:first-child {
  border-top-left-radius: 8px;
}

::ng-deep .p-datatable thead > tr > th:last-child {
  border-top-right-radius: 8px;
}

::ng-deep .p-datatable .p-datatable-header {
    border: none;
}
::ng-deep .p-datatable-header p {
    display: flex;
    align-items: center;
}

.user-trip-table ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
    background-color: #CEE8FF;
}

.user-trip-table ::ng-deep .p-paginator {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.right-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.display-format, .other-Fields {
    display: flex;
    gap: 10px;
}

.currency-formate ::ng-deep .p-dropdown, .distance-formate ::ng-deep .p-dropdown {
    height: 30px !important;
    display: flex;
    align-items: center;
    width: 230px;
    font-size: 14px;
}

.currency-formate ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder, .distance-formate ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 14px;
}

::ng-deep .p-dropdown .p-highlight {
    background-color: #F3F3F3 !important;
    color: black !important;
}

.searchField {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F3F3F3;
    padding: 10px;
    border-radius: 4px; 
    height: 30px;   
}

.searchField i {
    cursor: pointer;
}

.searchField input {
    border: none;
    background-color: #F3F3F3;
}

.searchField input:focus {
    outline: none;
}

.numRows, .numColumns {
    display: flex;
    align-items: center;
    gap: 3px;
    z-index: 2;
    cursor: pointer;
    position: relative;
}
.numRows i, .numColumns i {
    color: #084880;
    font-weight: bolder;
    font-size: 24px;
}

.numColumns i {
    transform: rotate(90deg);
}

.numRows span, .numColumns span {
    color: #084880;
    border: 1px solid #084880;
    padding: 5px;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
}

/* Stying the change number of rows in the table */
.numRowChanges {
    position: absolute;
    top: 50px;
    right: 45px;
    z-index: 100;
}

.numRowChanges ::ng-deep .p-listbox .p-listbox-list {
  padding: 0;
}

/* ::ng-deep .p-listbox .p-highlight {
    background-color: #084880 !important;
    color: #ffffff !important;
} */

::ng-deep .p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    background-color: #084880 !important;
    color: #ffffff !important;
    border-radius: 5px;
}

/* Styling the change number of columns in the table */
.selectingColumnDiv {
    position: absolute;
    top: 24px;
    right: 55px;
}

.selectingColumnDiv ::ng-deep .p-multiselect {
    width: 0px;
    height: 0px;
}

.selectingColumnDiv ::ng-deep .p-multiselect .p-multiselect-panel {
    position: absolute;
    right: -30px;
    top: 10px;
    width: 200px;
}
.selectingColumnDiv ::ng-deep .p-multiselect .p-multiselect-trigger-icon {
    display: none;
}

.selectingColumnDiv ::ng-deep .p-multiselect-panel .p-multiselect-items {
    padding: 0;
}


/*  Styling the bucket list dailog */
.bucketList-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
    padding: 10px;
}

.bucket-list-item {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 25%);
    border-radius: 4px;
}

.bucket-image {
    position: relative;
}

.bucket-image span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: white;
    color: black;
    padding: 0 10px;
    border-radius: 2px;
}

.bucket-image .editDeletBtns {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.editDeletBtns i {
    cursor: pointer;
}

.bucket-image i {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 20px;
    border-radius: 4px;
    opacity: 0.7;
    display: none;
}

.bucket-list-item span {
    font-size: 14px;
    font-weight: 600;
}

.bucket-list-item:hover {
    box-shadow: 0 4px #084880;
}

.bucket-list-item:hover i {
    display: inline;
}

.content p {
    font-size: 12px;
}
.no-bucket-list {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.bucketDailog ::ng-deep .p-dialog {
        width: 35%;
    }

/* Styling the dailog for adding new bucket place */

.editBucketItem {
    padding: 10px;
}

.editBucketItem ::ng-deep .p-dialog {
        width: 35%;
    }

.inputFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputfield {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.inputfield label {
    font-size: 14px;
    font-weight: 500;
}

.inputfield input {
    border: none;
    background-color: #F1F1F1;
    border-radius: 4px;
    padding: 10px;
}

.inputfield span {
    font-size: 12px;
    color: red;
    transform: translateY(-5px);
}

.inputfield input:focus {
    outline: none;
}

.image-upload-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    height: 200px;
    cursor: pointer;
}

.selected-image {
    position: relative;
}
.selected-image div {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.selected-image div i {
    background-color: white;
    color: #084880;
    padding: 5px;
    opacity: 0.7;
    border-radius: 4px;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.buttons button {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.cancelbtn {
    border: 1px solid #084880;
    color: #084880;
}

.submitbtn {
    background-color: #084880;
    color: white;
    border: none;
}

.editBucketItem ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover,
.bucketDailog ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover,
.delete-dailog ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
    background: none;
}

/* Styling the delete confirm button*/
.delete-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.delete-container img {
    width: 120px;
    height: 120px;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text p {
    font-size: 14px;

}
.btns {
    display: flex;
    gap: 10px;
    width: 90%;
}
.btns button {
    width: 45%;
    border: 1px solid #084880;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.delbtn {
    background-color: #084880;
    color: white;
}

/* Stying the pagination jumping input field */

::ng-deep .p-paginator {
    padding: 5px 15px !important;
}

.jumpingPage {
    display: flex;
    gap: 5px;
}

.jumpingPage input {
    width: 35px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
    text-align: center;
}

.jumpingPage button {
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Styling the paginator in p-table */

::ng-deep .p-paginator {
    padding: 5px 10px;
}

::ng-deep .p-paginator-right-content {
    margin-left: 0 !important;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #084880;
    padding: 5px;
    border-radius: 3px;
    color: white;
    min-width: 2rem;
    height: 2rem;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page, ::ng-deep .p-paginator .p-paginator-first,::ng-deep .p-paginator .p-paginator-prev,::ng-deep .p-paginator .p-paginator-next,::ng-deep .p-paginator .p-paginator-last {
    min-width: 2rem;
    height: 2rem
}

::ng-deep .p-datatable thead > tr > th:last-child {
  width: 150px !important;
}

/* making the page responsive for all the screen sizes */
@media screen and (max-width: 769px) {
    .user-trip-table ::ng-deep .tableHead {
        width: 150px !important;
    }
    
    .user-trip-table ::ng-deep .p-datatable-header {
        flex-direction: row;
        gap: 10px;
    }
    .right-contents {
        justify-content: flex-end;
    }

    .currency-formate ::ng-deep .p-dropdown, .distance-formate ::ng-deep .p-dropdown {
        width: 150px;
    }

    .searchField input {
        width: 150px;
    }

    .bucket-image i {
        display: block;
    }
}
@media screen and (max-width: 426px) {

    .user-trip-table ::ng-deep .p-datatable-header {
        flex-direction: column !important;
        gap: 10px;
    }
    .right-contents {
        justify-content: flex-start;
        gap: 15px;
        flex-direction: column
    }

    .currency-formate ::ng-deep .p-dropdown, .distance-formate ::ng-deep .p-dropdown {
        width: 190px;
    }

    .searchField input {
        width: 235px;
    }

    ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page, .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
        margin: 0;
        min-width: 1.5rem;
    }

    .user-trip-table ::ng-deep .p-paginator-left-content {
        margin: 5px 100px !important;
    }
}

@media screen and (max-width: 320px) {
    .user-trip-table ::ng-deep .p-paginator-left-content {
        margin-right: 36px !important;
        margin-left: 40px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .currency-formate ::ng-deep .p-dropdown, .distance-formate ::ng-deep .p-dropdown {
        width: 145px;
    }

    .searchField input {
        width: 145px;
    }

    .numRowChanges {
        top: 80px;
    }
    .selectingColumnDiv ::ng-deep .p-multiselect .p-multiselect-panel {
        top: 30px;
    }

    .add-trip-container ::ng-deep .p-dialog {
        width: 90%;
    }

    .bucket-list-item {
        width: 95%;
        transform: translateX(-25px)
    }

    .editBucketItem ::ng-deep .p-dialog {
        width: 90%;
    }

    .jumpingPage {
        margin-top: 5px;
    }
}



/* style property for table */

.dark-mode ::ng-deep .p-datatable {
  background-color: black;
  color: #e0e0e0;
  border: none;
}

.dark-mode ::ng-deep .p-datatable-header,
.dark-mode ::ng-deep .p-datatable-footer {
  background-color: black !important;
  color: #e0e0e0;
}

.dark-mode ::ng-deep .p-datatable-thead > tr > th {
  background-color: #2a2a2a;
  color: #fff;
  border-color: #444;
}

.dark-mode ::ng-deep .p-datatable-tbody > tr > td {
  background-color: #1e1e1e;
  color: #ccc;
  border-color: #444;
}

.dark-mode ::ng-deep .p-datatable-tbody > tr:hover {
  background-color: #333;
}

.dark-mode ::ng-deep .p-paginator {
  background-color: #2a2a2a;
  color: #ccc;
  border-top: 1px solid #444;
  border-bottom: none;
}

.dark-mode .numRows i, .dark-mode .numColumns i {
    color: white;
}

.dark-mode .numRows span, .dark-mode .numColumns span {
    border: 1px solid white;
    color: white;
}

.dark-mode .right-captions .pi-plus {
    background-color: white;
    color: black;
}

/* styling the dark theme for the dailogs */

.dark-mode  ::ng-deep .p-dialog .p-dialog-header, .dark-mode  ::ng-deep .p-dialog .p-dialog-content:last-of-type {
    background-color: #aeadad;
    color: white;
}

.dark-mode  ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
    color: white;
}

.dark-mode  .no-bucket-list {
    color: white;
}

.dark-mode .bucket-list-item, .dark-mode .bucket-list-item span {
    background-color: lightgray;
    color: black;
}

.dark-mode .bucket-list-item .content p {
    color: black;
}

.dark-mode ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page,
.dark-mode ::ng-deep .p-paginator .p-paginator-first,
.dark-mode ::ng-deep .p-paginator .p-paginator-prev,
.dark-mode ::ng-deep .p-paginator .p-paginator-next,
.dark-mode ::ng-deep .p-paginator .p-paginator-last {
    color: white;
}


/* styling the dark theme for dailog */

.dark-mode ::ng-deep .p-dialog .p-dialog-header{
    background-color: #4b4b4b !important;
    color: white !important;
}
.dark-mode ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    color: white;
}

.dark-mode ::ng-deep .p-dialog .p-dialog-content:last-of-type {
    background-color: #4b4b4b !important;
    color: white !important;
}

.dark-mode .inputfield input {
    background-color: lightgray;
}

.dark-mode .cancelbtn {
    background-color: lightgray;
}

.dark-mode .inputFields .inputfield .pi-upload {
    color: black;
}
.dark-mode .inputFields .inputfield .image-upload-container {
    background-color: lightgray;
}

.dark-mode .inputFields .inputfield .image-upload-container p {
    color: black;
}

.dark-mode .searchField i {
  color: black;
}
